product-stock-service/src/main/resources/wsdl/stock.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://netflixoss.com/stock/soap"
           xmlns:tns="http://netflixoss.com/stock/soap"
           elementFormDefault="qualified">

    <xs:element name="GetStockLevelRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="sku" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetStockLevelResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="found" type="xs:boolean"/>
                <xs:element name="quantity" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="RestockProductRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="sku" type="xs:string"/>
                <xs:element name="qty" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="RestockProductResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="success" type="xs:boolean"/>
                <xs:element name="newQuantity" type="xs:int"/>
                <xs:element name="message" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
